.header-cont{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px auto;
}
.left-head{
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
  width:50%;
}
.left-head p{
  color:white;
  text-shadow: white 1px 1px 5pxs;
  margin-right: 10px;
  font-size: 20px;
}
.left-head p:hover{
  color:rgb(36, 189, 195);
  cursor:pointer;
}
.right-head{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 5%;
}
.right-head p{
  color: white;
  text-shadow: white 1px 1px 5px;
  font-size: 20px;
}
.right-head p:hover{
  color:rgb(36, 189, 195);
  cursor:pointer;
}
/* Homepage Title */
.homepage-title{
  display: flex;
  flex-flow: column;
  height: 40em;
  background-image: url(cool-background.png);
}
.name{
  display: flex;
  margin: 0 auto;
  font-size: 50px;
  color: white;

}