/* this blocks particles */
.background{
  background-color: white;
}
.header-style{
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
/* particles */
.header-cont{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  padding:1vh 0;
}
.logo{
  height: 4vh;
  color: white;
  margin: 0 1vh;
}
.logo:hover{
  cursor: pointer;
  color:rgb(47, 172, 194)
}
.header-txt{
  color:white;
}
.meat{
  display: flex;
  background-color: white;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:75%;
}
/* Universal */
h2{
  font-size: 40px;
}
.white{
  color:white;
}
.center{
  display: flex;
  justify-content: center;
}
/* Homepage Title */
.top{
  height: 35em;
}
.name{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.name h1{
  margin-bottom: 0;
}
.home-info{
  display:flex;
  flex-flow:row wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.info-text{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  width: 60%;
  margin:4vh 0;
}
.info-text p{
  margin-left: 2vh;
}
.info-img{
  display:flex;
  width:20em;
  height: 30em;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
}
.waterfall{
  height:100%;
  border: 3px black solid;
  border-radius: 1em;
}
/* projects */
.projects{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.project-img{
  display: flex;
  background-color: red;
  width:100%;
}
.spec-img{
  width:100%;
}
/* skills */
.skills{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
}
.skill{
  display: flex;
  flex-flow: column wrap;
  width: 15em;
  align-items: center;
  background-color: white;
  border: 2px black solid;
  border-radius: 1em;
  padding: 1vh;
  margin-bottom: 2vh;
}
.black{
  background-color: black;
}
/* learning */
.learning{
  background-color: white;
  width: 100%;
}
/* Slider */
.slider{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1vh;
}
/* display projects */
.display{
  display:flex;
  width: 100%;
}
.display-img{
  width: 100%;
}
.arrow:hover{
  color: rgb(47, 172, 194);
  cursor: e-resize;
}
.arrow-icon{
  height: 4vh;
}
.arrow-icon:hover{
  color:rgb(47, 172, 194);
  cursor: e-resize;
}
.no-margin{
  margin-bottom: -20px;
}
.desc{
  display: flex;
  flex-flow: column;
}
.bottom {
  margin: 0;
  align-items: center;
}
/* contact */
.contact{
  display: flex;
  align-items: center;
  flex-flow: column;
}
/* Email Form */
.email{
  /* border:3px rgba(0, 0, 0, 0.24) solid; */
  padding: 2vh;
  border-radius: 1em;
  margin-bottom: 10vh;
  width:100%;
}
.email-form{
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  align-items: center;
  width: 50%;
}
.info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.email-input{
  margin: 0 0 2vh 0;
  border-radius: 2em;
  height:3vh;
  padding-left: 1vh;
  width: 40%;
}
.email-submit{
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 1em;
  height: 4vh;
  width: 100%;
  font-size: 20px;
}
.email-submit:hover{
  border:2px solid rgb(255, 254, 254);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.comment{
  resize:none;
  width: 100%;
  font-family:"Times New Roman", Times, serif;  
  margin-bottom: 2vh;
  padding: 1vh;
  border-radius: .75em;
}
.comment-a{
  display: flex;
  justify-content: center;
  width: 100%;
}
/* resume */
.resume{
  background-color:black;
  color: white;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 1em;
  padding: 1vh;
  width: 70%;
}
.resume:hover{
  background-color: white;
  border: 3px black solid;
  color: black;
  cursor: pointer;
}