.header-cont{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
}
.header-txt{
  color:white;
}
.meat{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:75%;
}
/* Homepage Title */
.homepage-title{
  display: flex;
  flex-flow: column;
  height: 40em;
  background-image: url(cool-background.png);
}
.name{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  font-size: 50px;
  color: white;
}
.name h1{
  margin-bottom: 0;
}
.home-info{
  display:flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}
.info-text{
  display: flex;
  flex-flow: column;
  width: 50%;
  margin:4vh 0;
}
.info-text p{
  margin-left: 2vh;
}
.info-img{
  display:flex;
  width:50%;
  justify-content: center;
  align-items: center;
}
/* projects */
.projects{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.project-img{
  display: flex;
  background-color: red;
  width:100%;
}
.spec-img{
  width:100%;
}
/* skills */
.skills{
  display: flex;
  justify-content: space-around;
  width: 100%;
}